In [2]:
dict1={1:"first",2:"second",3:"third"}

In [3]:
dict1

{1: 'first', 2: 'second', 3: 'third'}

In [4]:
dict1[4]="fourth"

In [5]:
dict1

{1: 'first', 2: 'second', 3: 'third', 4: 'fourth'}

In [13]:
dict1[1].split("i")

['f', 'rst']

DICTIONARY WITHIN A DICTIONARY

In [14]:
dict1[5]={"name":"Tanmay"}

In [15]:
dict1

{1: 'first', 2: 'second', 3: 'third', 4: 'fourth', 5: {'name': 'Tanmay'}}

In [16]:
dict1[5]

{'name': 'Tanmay'}

In [17]:
dict1[5]['name']

'Tanmay'

In [18]:
dict2={}
for i in range(1,9):
    dict2[i]=i*i

In [19]:
dict2

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [20]:
del dict2[1]

In [21]:
dict2

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [22]:
dict2.keys()

dict_keys([2, 3, 4, 5, 6, 7, 8])

In [23]:
dict2.values()

dict_values([4, 9, 16, 25, 36, 49, 64])