FUNCTIONS

In [1]:
def my_function():
    print("HELLO ! MY NAME IS TANMAY\nI LIVE IN NEW DELHI".title())
my_function()

Hello ! My Name Is Tanmay
I Live In New Delhi

FUNCTION TAKING A PARAMETER

In [2]:
def sq_num(a):
    '''Objective : To find square of a number
       Input : a - numeric value
       Return : square of a number
    '''
    return a*a

In [3]:
sq_num(2)

4

In [4]:
sq_num(6)

36


FUNCTION TAKING 2 PARAMETERS

In [5]:
def sum_two(a,b):
    '''Objective : To find sum of two numbers
       Input : a,b - numeric values
       Return : sum of two numbers
    '''
    sum = a+b
    return sum

In [6]:
sum_two(2,3)

5

In [7]:
sum_two(9,9)

18


FUNCTION CAN ALSO BE USED WITH STRINGS

In [8]:
def str_concatenate(a,b,c="i live in delhi".title()):
    '''Objective : To concatenate given strings
       Input : a,b,c - strings
       Return : concatenated string
    '''
    return (a+b+c)
str_concatenate("hello! ".title(),"i am tanmay. ".title(),"nice to meet you".title())

'Hello! I Am Tanmay. Nice To Meet You'

In [9]:
def compare_func(a,b):
    '''Objective : To compare given number
       Input : a,b - numeric values
       Return : none
    '''
    if a > b:
        print("{} is greater than {}".format(a,b))
    else:
        print("{} is greater than {}".format(b,a))

In [10]:
compare_func(3,4)

4 is greater than 3

In [11]:
compare_func(9,2)

9 is greater than 2

In [12]:
def funky(strng):
    '''Objective : To return some part of the string
       Input : strng - a string
       Return : part of a string
    '''
    return strng[len(strng)-4:]

In [13]:
funky("tanmay")

'nmay'

In [14]:
funky("hello")

'ello'