In [1]:
list1 = []
for char in "Tanmay":
    list1.append(char)

In [2]:
list1

['T', 'a', 'n', 'm', 'a', 'y']

SAME THING USING LIST COMPREHENSION

In [3]:
list2=[char for char in "Tanmay"]

In [4]:
list2

['T', 'a', 'n', 'm', 'a', 'y']

TO FIND NUMBNERS DIVISIBLE BY 2

In [5]:
a=[1,3,5,2,4,6,7,8,9,12,14,15,16,14,34,36,37,29,28]
b=[elem for elem in a if elem%2==0]

In [6]:
b

[2, 4, 6, 8, 12, 14, 16, 14, 34, 36, 28]

GETTING SUQARES OF NUMBERS

In [7]:
num=[x**2 for x in range(0,5)]

In [8]:
num

[0, 1, 4, 9, 16]

CREATING LIST OF ODD NUMBERS

In [9]:
a=[elem for elem in range(0,20) if elem%2!=0]

In [10]:
a

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [11]:
b = [elem if elem%2==0 else "not even" for elem in range(0,11)]

In [12]:
b

[0, 'not even', 2, 'not even', 4, 'not even', 6, 'not even', 8, 'not even', 10]