WHILE LOOPS

In [9]:
i=0
while i<=5:
    print("i is %d"%(i))
    i+=1

i is 0
i is 1
i is 2
i is 3
i is 4
i is 5

In [12]:
a=[1,2,3,4,5,6,7,7,8,9,9,0]
b=[]
i=0
while i<len(a):
    if a[i] not in b:
        b.append(a[i])
    i+=1

In [13]:
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

TO FIND ELEMENTS COMMON TO LISTS

In [5]:
a=[1,1,2,3,4,5,6,3,22,1,1,3,24,34,56,67,78,4534,353]
b=[1,2,3,4,56,67,7,8,45,80,57,345,123,353]
c=[]
i=0
while i<len(a):
    if a[i] in b:
        if a[i] not in c:
            c.append(a[i])
    i+=1
c

[1, 2, 3, 4, 56, 67, 353]

In [2]:
password = 0
while password!=1234:
    password=int(input("enter password".title()))
print("WELCOME USER")

Enter Password123
Enter Password1235
Enter Password1234
WELCOME USER

FOR LOOPS

In [7]:
list1=[1,2,3,4,5,6]
sum=0
for elem in list1:
    sum+=elem
sum

21

In [11]:
mydictio={}
for i in range(1,6):
    mydictio[i]=i*i

In [12]:
mydictio

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [13]:
myname="THIS IS TANMAY".title()

In [14]:
for char in myname:
    print(char,end="")

This Is Tanmay

In [15]:
tuple1 = 1,2,3,5,6,7,8,81,2,22,224,23,4

In [16]:
for elem in tuple1:
    print("{}*{} = {}".format(elem,elem,elem*elem))

1*1 = 1
2*2 = 4
3*3 = 9
5*5 = 25
6*6 = 36
7*7 = 49
8*8 = 64
81*81 = 6561
2*2 = 4
22*22 = 484
224*224 = 50176
23*23 = 529
4*4 = 16

In [17]:
dict2={1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [20]:
for key,value in dict2.items():
    print("Key = {}".format(key),end=",")
    print("Value = {}".format(value))

Key = 1,Value = 1
Key = 2,Value = 4
Key = 3,Value = 9
Key = 4,Value = 16
Key = 5,Value = 25

In [21]:
for items in dict2.items():
    print(items)

(1, 1)
(2, 4)
(3, 9)
(4, 16)
(5, 25)

In [23]:
list_tuple=[(1,2),(3,4),(5,6),(7,8,9)]
for item in list_tuple:
    for i in item:
        print(item,end=" -> ")
        print(i)

(1, 2) -> 1
(1, 2) -> 2
(3, 4) -> 3
(3, 4) -> 4
(5, 6) -> 5
(5, 6) -> 6
(7, 8, 9) -> 7
(7, 8, 9) -> 8
(7, 8, 9) -> 9

GETTING NUMBERS DIVISBILE BY 2

In [25]:
a=[1,2,3,4,5,6,7,8,9,10,12,14,16,18,19,20]
b=set()

In [26]:
for elem in a:
    if elem%2!=0:
        continue
    b.add(elem)

In [27]:
b

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}